body{
    background-color: black;
}
input{
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
label{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    display: block;
    text-align: center;
     display: flex;
    justify-content: center;
}
button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
