body{
    align-items: center;
    background-color: rgb(145, 209, 209);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;

}
.contener{
    display: flex;
    justify-content: center;
    width: 100vh;
    max-width:800vh;

}
.tache{
    display: flexbox;
    

}
button{
    color: rgb(203, 203, 205);
    background-color: rgb(6, 3, 3);
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;   
}
input{
    font-size: 20px;
    width: 400px;
    height: 40px;
}

